$text: #fefbe6;
$background: #141000;
$primary: #fcdc75;
$secondary: #039850;
$accent: #09faf8;

$red: #981903;
$green: #039850;
$blue: #1c6fa9;
$yellow: #ffce2c;
$gray: gray;

$font: 'Onest', sans-serif;